rcard1126.csv
rcard1217.csv
parser.py
parseChunk.py
convert.csv
convert sample.csv
sample.csv
sample2.csv
sampleAltair.py
tempAltair.py
logo.png
OldFiles/
Prod2210917/
Produccion/
Produccion2/
Produccion3/
Produccion4/
Produccion5/
Produccion6/
testChunk/
        